.App {
  width: 60%;
  margin:  auto;
  padding: 50px;
  text-align: center;
}
h5{
  margin:5px;
}
.controllersContainer{  
  display: flex;
  align-items: center;
}
.btn-small{
  margin: 5px;
  color: #263238 ;
}
.beatsBlock {
  width: 80%;
  margin: auto;
}
.beats_ul{   
  list-style-type: none;
  display: flex;
  width: 100%;
}
.beat {  
  border-radius: 2px;
  background-color: #cfd8dc;
  min-height: 100px;
  flex: 1;  
  padding: 10px 0;
  margin: 10px;
}
.activeBeat{
  background-color: #4db6ac;
  box-shadow: 1px 1px 6px rgba(39, 88, 88, 0.3);
}
.stressedBeat{  
  background-color: #90a4ae;  
}
.controllersContainer{  
  display: flex;  
  justify-content: center;
}
.flex{
  width: 80%;
  margin:auto;
  display: flex;  
  justify-content: space-between;
  align-items: center; 
}
.m5{
  margin: 5px;
}